<!DOCTYPE html>
<html lang="az">
<head>
    <meta charset="UTF-8">
    <title>Xatire Qutusu</title>
</head>
<body>
    <h1>Xatire Qutusu (Hekaye Yazari)</h1>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}

    <form method="POST">
        Basliq:<br>
        <input type="text" name="basliq" required><br><br>

        Mətn:<br>
        <textarea name="metn" rows="6" cols="50" required></textarea><br><br>

        <button type="submit">Yadda saxla</button>
    </form>

    <hr>

    <p><a href="{{ url_for('show_xatireler') }}">Bütün xatirələrə bax</a></p>
</body>
</html>
